$rism-digital-center-primary: hsl(0, 74%, 32%); /* equivalent #8c1515 */
$primary: $rism-digital-center-primary;
$link: $rism-digital-center-primary;
$rism-digital-center-white: #fff;

// colored navbar
$navbar-background-color: $rism-digital-center-primary;
$navbar-item-color: $rism-digital-center-white;
$navbar-item-hover-background-color: lighten($rism-digital-center-primary, 5%);
$navbar-item-hover-color: $rism-digital-center-white;
$navbar-item-active-background-color: darken($rism-digital-center-primary, 5%);
$navbar-item-active-color: $rism-digital-center-white;

// white navbar
//$navbar-item-hover-background-color: $rism-editorial-center-primary;
//$navbar-item-hover-color: $rism-editorial-center-white;
//$navbar-item-active-background-color: darken($rism-editorial-center-primary, 5%);
//$navbar-item-active-color: $rism-editorial-center-white;

$notification-radius: 3px;
$notification-padding-ltr: 0.75rem;

.sidenavbar {
    @extend .navbar;
    display: flex;
    border-bottom: none !important;
    border-radius: 3px;
    margin-bottom: 8px;

    .navbar-item {
        display: flex;
        align-items: center;
    }
}

.wg-title {
    .column {
        padding: 5px 0px;
        h1, h2 {
            color: $rism-digital-center-primary;
            font-weight: 500;
        }
        h1 {
            font-size: 25px; 
        }
        h2 {
            font-size: 22px; 
        }
    }   
}

div.scroll-facet {
    overflow: scroll;
    max-height: 150px;
    min-height: 42px;
    border: lightgrey solid 1px;
    padding: 8px;
}

h3.docref {
    color: $rism-digital-center-primary !important;
}

div.fields {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: 5px;
    }
}

span.rism_link {
    text-decoration: underline;
    color: #1d3557;
    font-weight: bold;
}

iframe.preview {
    border: solid 1px gray;
    display: none;
}

span.composer {
    font-weight: 500;
}

div.cornetto-tags {
    display: flex;
    flex-direction: row;
    span {
        margin-right: 5px;
    }
}

div.examplars {
    display: flex;
    flex-direction: row;
    span.libraries {
        font-weight: 500;
    }
    span {
        margin-right: 5px;
    }
}